@import url('https:fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap')

* { 
font-family:  'Open Sans', sans-serif;
}
body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 225, 255);
}
button {
    height: 40px;
    width: 40px;
    border-radius: 55%;
    border: 3px solid rgb(243, 104, 104);
    color: rgb(243, 104, 104);
    font-size: 16pt;
    font-weight: 650;
    text-align: center;
}
#counter{ 
    display:flex;
}
#currentnumber{
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}